/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
<<<<<<< HEAD
  background-color: oklab(39.505% -0.0182 -0.08825); /* brand-dark */
=======
  background-color:  oklab(39.505% -0.0182 -0.08825); /* brand-dark */
>>>>>>> 2d4275da452f32b93eab92ad47f79e6eaafdb025
  color: #E6EDF3; /* A light off-white */
}
